<li class="group" id="group-<%= group.id%>" data-id="<%= group.id %>">
  <div class="row-fluid group-line">
    <div class="span11 group-title-container">
      <p class="group-title">
        <%= group.name %>
      </p>
    </div>
    <div class="span1">
      <span class="remove-group">
        <a class="icon-remove"></a>
      <span/>
    </div>
  </div>
</li>
